<!DOCTYPE html>
<html>
  <head>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>Twilio Verify</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <nav>
      <h1>Twilio verify</h1>
      <ul>
        <li><a href="/#">Register New User</a></li>
        <li><a href="/users">All Users</a></li>
      </ul>
    </nav>

    <section class="content">
      <h1>Register</h1>
      <form method="post">
        <label for="username">Username</label>
        <input name="username" id="username" required />
        <label for="email">Email</label>
        <input name="email" id="email" required />
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required />
        <button name="form-submit" type="submit">Sign Up</button>
      </form>
    </section>
  </body>
</html>
